*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.first {
    display: inline;
    color: #036666;
    font-size: 1.5rem;
    border:1px solid #040506;
  }
  nav{
    display: flex;
    justify-content: center;
    background-color: #b8e0d2;
    height: 7vh;
    align-items: center;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cce3de;
  }
  footer{
    background-color: #b8e0d2;
  }
  h3{
    color:#248277;
  }
  h2{
    color: #036666;
  }
  tr{
    color: #248277;
  }